[manifest]
id = "shinx121_debug"
display_name = "Debug Tools"
description =  """
Expands the debug menu with new options:
- Bit Table: View and edit game flags and global state.
- Blocks: View and edit blocks (including hits) at runtime.
- Curves: Visualize loaded curves and inspect their properties.
- Maps: View and edit the current act number and object groups for any map.
- Objects: View objects in the scene, their details, modify certain properties, visualize hitboxes, and more.
- Particles: Play around with any particle type in the game.
- Sound Test: Play any sound effect, music track, or MPEG file.
- Time: View and edit the time of day.
- And more!

Open the Debug UI (F9) and select the 'Debug' dropdown to access these tools.

WARNING: It is very possible to corrupt your game save with these tools! It is not recommended to save after modifying the game this way, unless you know what you're doing.
"""
short_description = "Expands the debug menu."

version = "0.3.0"
authors = [ "Shinx121" ]

game_id = "dino-planet"
minimum_recomp_version = "0.1.2"

dependencies = [

]

native_libraries = [
# Example native library:
#    { name = "my_native_library", funcs = ["my_native_library_function"] }
]

[inputs]
elf_path = "build/mod.elf"
mod_filename = "shinx121_debug"
func_reference_syms_file = "../lib/dino-recomp-decomp-bridge/dino.syms.toml"
data_reference_syms_files = [
    "../lib/dino-recomp-decomp-bridge/dino.datasyms.toml", 
    "../lib/dino-recomp-decomp-bridge/dino.datasyms_manual.toml", 
    "../dino.datasyms_extra.toml"
]
additional_files = [
    "thumb.png"
]

# [[manifest.config_options]]
# id = "trigger_logging"
# name = "Trigger Logging"
# description = "Whether to enable stdout debug logging for trigger objects."
# type = "Enum"
# options = [ "On", "Off" ]
# default = "Off"
