[manifest]
id = "shinx121_debug"
display_name = "Debug Tools"
description =  """
Expands the debug menu with:
- Object debug: View objects in the scene, their details, modify certain properties, and optionally destroy them.
- Object 3D visualizer: View positions and rough hitboxes of objects and see them through walls.
- Map debug: View a list of the currently loaded maps.
- Bit Table debug: View and edit game flags and global state.
- Blocks debug: View and edit blocks (including hits) at runtime.

Open the Debug UI (F9) and select the 'Debug' dropdown to access these tools.
"""
short_description = "Expands the debug menu."

version = "0.3.0"
authors = [ "Shinx121" ]

game_id = "dino-planet"
minimum_recomp_version = "0.1.1"

dependencies = [

]

native_libraries = [
# Example native library:
#    { name = "my_native_library", funcs = ["my_native_library_function"] }
]

[inputs]
elf_path = "build/mod.elf"
mod_filename = "shinx121_debug"
func_reference_syms_file = "../lib/dino-recomp-decomp-bridge/dino.syms.toml"
data_reference_syms_files = [
    "../lib/dino-recomp-decomp-bridge/dino.datasyms.toml", 
    "../lib/dino-recomp-decomp-bridge/dino.datasyms_manual.toml", 
    "../dino.datasyms_extra.toml"
]
additional_files = [
    "thumb.png"
]

# [[manifest.config_options]]
# id = "trigger_logging"
# name = "Trigger Logging"
# description = "Whether to enable stdout debug logging for trigger objects."
# type = "Enum"
# options = [ "On", "Off" ]
# default = "Off"
